---
to: ./<%= componentName %>.vue
---
<template>
  <div>
    <FormContainer :form="form"
      :container="container"
      @submit="submit"
      />
  </div>
</template>


<style scoped lang="scss">
</style>

<script src="./<%= componentName %>.ts" lang="ts"></script>